<!DOCTYPE html>
<html data-include="views/base.html">
    <div data-fragment="stylesheets">
        <link rel="stylesheet" href="/css/form.css">
    </div>

    <div data-fragment="content">
        @{var edicao = !!root.usuario}
        @{var header = (edicao) ? 'Editar curtida' : 'Criar curtida';}
        @{var action = (edicao) ? '/curtidas/' + root.usuario + '/' + root.artista : '/curtidas';}
        @{var submit = (edicao) ? 'Editar' : 'Criar';}

        <h1>#{header}</h1>
        <form action="#{action}" method="POST" accept-charset="utf-8">
            <div>
                <label for="usuario">usuário:</label>
                <input type="text" name="usuario" value="#{root.usuario}" />
            </div>

            <div>
                <label for="artista">artista:</label>
                <input type="text" name="artista" value="#{root.artista}" />
            </div>

            <div>
                <label for="nota">nota:</label>
                <input type="number" name="nota" value="#{root.nota}" />
            </div>

            <div>
                <input type="submit" value="#{submit}" />
            </div>
        </form>
    </div>
</html>