<!DOCTYPE html>
<html data-include="views/base.html">
    <div data-fragment="scripts">
        <script type="text/javascript" src="js/acoesDaListagem.js"></script>
    </div>

    <div data-fragment="stylesheets">
        <link rel="stylesheet" href="/css/listagem.css">
    </div>

    <div data-fragment="content">
        <h1>Listagem de curtidas</h1>
        <div class="acao criar">
            <a href="/curtidas/criar" title="Criar curtida">
                Criar curtida
            </a>
        </div>
        <table>
            <thead>
                <tr>
                    <th>usuário</th>
                    <th>artista</th>
                    <th>nota</th>
                    <th class="acoes">ações</th>
                </tr>
            </thead>
            <tbody data-for="curtida in root.curtidas">
                <tr class="linhaDeDados">
                    <td>#{curtida.usuario}</td>
                    <td>#{curtida.artista}</td>
                    <td>#{curtida.nota}</td>
                    <td class="acoes">
                        <a href="/curtidas/editar/#{curtida.usuario}/#{curtida.artista}" class="acao editar">
                            editar
                        </a>
                        <a data-url="/curtidas/#{curtida.usuario}/#{curtida.artista}"
                            href="javascript:void(0);" class="acao apagar">
                            apagar
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</html>