<!DOCTYPE html>
<html data-include="views/base.html">
    <div data-fragment="stylesheets">
        <link rel="stylesheet" href="/css/form.css">
    </div>

    <div data-fragment="content">
        @{var edicao = !!root.nome}
        @{var header = (edicao) ? 'Editar cidade' : 'Criar cidade';}
        @{var action = (edicao) ? '/cidades/' + root.nome : '/cidades';}
        @{var submit = (edicao) ? 'Editar' : 'Criar';}

        <h1>#{header}</h1>
        <form action="#{action}" method="POST" accept-charset="utf-8">
            <div>
                <label for="nome">nome:</label>
                <input type="text" name="nome" value="#{root.nome}" />
            </div>

            <div>
                <input type="submit" value="#{submit}" />
            </div>
        </form>
    </div>
</html>