<!DOCTYPE html>
<html data-include="views/base.html">
    <div data-fragment="scripts">
        <script type="text/javascript" src="js/acoesDaListagem.js"></script>
    </div>

    <div data-fragment="stylesheets">
        <link rel="stylesheet" href="/css/listagem.css">
    </div>

     <div data-fragment="content">
        <h1>Listagem de cidades</h1>
        <div>
            <a href="/cidades/criar" title="Criar cidade">
                Criar cidade
            </a>
        </div>
        <table>
            <thead>
                <tr>
                    <th>nome</th>
                    <th>ações</th>
                </tr>
            </thead>
            <tbody data-for="cidade in root.cidades">
                <tr class="linhaDeDados">
                    <td>#{cidade.nome}</td>
                    <td class="acoes">
                        <a href="/cidades/editar/#{cidade.nome}" class="acao editar">
                            editar
                        </a>
                        <a href="javascript:void(0);" class="acao apagar" data-url="/cidades/#{cidade.nome}">
                            apagar
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</html>