menu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px;
    float: left;
}

menu li {
    white-space: nowrap;
    padding-bottom: 0.5em;
}

.descricao {
    width: 60%;
    display: inline-block;
}

.descricao p {
    margin: 0;
    margin-bottom: 10px;
    line-height: 1.4em;
}