<!DOCTYPE html>
<html data-include="views/base.html">
	<div data-fragment="stylesheets">
		<link rel="stylesheet" href="/css/index.css" />
		<link rel="stylesheet" href="/css/estatisticas.css" />
	</div>

	<div data-fragment="scripts">
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script type="text/javascript" src="/js/estatisticas.js"></script>		
	</div>

	<div data-fragment="content">
		<menu type="list">
		    <li>
		        <a href="javascript:void(0)" class="mediaPorArtista">
		        	Média de ratings de um artista
		        </a>
		    </li>
		    <li>
		        <a href="javascript:void(0)" class="desvioPadraoPorArtista">
		        	Desvio padrão dos ratings de um artista
		        </a>
		    </li>
		    <li>
		        <a href="javascript:void(0)" class="maioresRatings">
		        	Artistas com os maiores ratings médios
		        </a>
		    </li>
		    <li>
		        <a href="javascript:void(0)" class="maioresRatingsComCurtidas">
		        	Artistas com os maiores ratings médios (2 curtidas ou mais)
		        </a>
		    </li>
		    <li>
		        <a href="javascript:void(0)" class="maisPopulares">
		        	Artistas mais populares
		        </a>
		    </li>
			<li>
			    <a href="javascript:void(0)" class="maiorVariabilidade">
			    	Artistas com maior variabilidade de ratings
			    </a>
			</li>
			<li>
			    <a href="javascript:void(0)" class="generosMaisPopulares">
			    	Gêneros mais populares
			    </a>
			</li>
		</menu>

		<div class="visualizacao">
			<div class="chart"></div>
		</div>
	</div>
</html>