<!DOCTYPE html>
<html data-include="views/base.html">
    <div data-fragment="content">
        <h1>Criar usuário</h1>

        <form action="/usuarios" method="POST" accept-charset="utf-8">
            <div>
                <label for="login">login:</label>
                <input type="text" name="login" />
            </div>

            <div>
                <label for="nome">nome:</label>
                <input type="text" name="nome" />
            </div>

            <div>
                <label for="cidade">cidade:</label>
                <input type="text" name="cidade" />
            </div>

            <div>
                <label for="uri">uri:</label>
                <input type="text" name="uri" />
            </div>

            <div>
                <input type="submit" value="Criar" />
            </div>
        </form>
    </div>
</html>