<!DOCTYPE html>
<html data-include="views/base.html">
    <div data-fragment="stylesheets">
        <link rel="stylesheet" href="/css/form.css">
    </div>

    <div data-fragment="content">
        @{var edicao = !!root.login}
        @{var header = (edicao) ? 'Editar usuário' : 'Criar usuário';}
        @{var action = (edicao) ? '/usuarios/' + root.login : '/usuarios';}
        @{var submit = (edicao) ? 'Editar' : 'Criar';}

        <h1>#{header}</h1>
        <form action="#{action}" method="POST" accept-charset="utf-8">
            <div>
                <label for="login">login:</label>
                <input type="text" name="login" value="#{root.login}" />
            </div>

            <div>
                <label for="nome">nome:</label>
                <input type="text" name="nome" value="#{root.nome}" />
            </div>

            <div>
                <label for="cidade">cidade:</label>
                <input type="text" name="cidade" value="#{root.cidade}" />
            </div>

            <div>
                <label for="uri">uri:</label>
                <input type="text" name="uri" value="#{root.uri}" />
            </div>

            <div>
                <input type="submit" value="#{submit}" />
            </div>
        </form>
    </div>
</html>