<!DOCTYPE html>
<html data-include="views/base.html">
    <div data-fragment="scripts">
        <script type="text/javascript" src="js/acoesDaListagem.js"></script>
    </div>

    <div data-fragment="content">
        <h1>Listagem de usuários</h1>
        <div>
            <a href="/usuarios/criar" title="Criar usuário">
                Criar usuário
            </a>
        </div>
        <table>
            <thead>
                <tr>
                    <th>login</th>
                    <th>nome</th>
                    <th>cidade</th>
                    <th>uri</th>
                    <th>ações</th>
                </tr>
            </thead>
            <tbody data-for="usuario in root.usuarios">
                <tr class="linhaDeDados">
                    <td>#{usuario.login}</td>
                    <td>#{usuario.nome}</td>
                    <td>#{usuario.cidade}</td>
                    <td>#{usuario.uri}</td>
                    <td>
                        <a href="/usuarios/editar/#{usuario.login}" class="acao editar">
                            editar
                        </a>
                        <a href="javascript:void(0);" class="acao apagar" data-url="/usuarios/#{usuario.login}">
                            apagar
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</html>