<!DOCTYPE html>
<html data-include="views/base.html">
    <div data-fragment="content">
        @{var edicao = !!root.nome_artistico}
        @{var header = (edicao) ? 'Editar artista' : 'Criar artista';}
        @{var action = (edicao) ? '/artistas/' + root.nome_artistico : '/artistas';}
        @{var submit = (edicao) ? 'Editar' : 'Criar';}

        <h1>#{header}</h1>
        <form action="#{action}" method="POST" accept-charset="utf-8">
            <div>
                <label for="nome_artistico">nome artístico:</label>
                <input type="text" name="nomeArtistico" value="#{root.nome_artistico}" />
            </div>

            <div>
                <input type="submit" value="#{submit}" />
            </div>
        </form>
    </div>
</html>